{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudPulse AI - Optimize, Predict & Save</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'advisor/css/styles.css' %}">
</head>
<body>
    
    <video autoplay muted loop id="bg-video">
        <source src="index_video.mov" type="video/mp4"> 
        </video>
    
    <div class="landing-content">
        <div class="glass-card">
            <h1>CloudPulse AI</h1>
            <p class="subtitle">“Optimize, Predict & Save with intelligent FinOps automation.”</p>
            <a href="{% url 'login' %}"
        class="cta-button">Go to Login</a>
        </div>
    </div>
</body>
</html>